<% include partials/header.ejs %>

<h1><%= title %></h1>
<p> Ankush is my father. He lives in india.
  He like farming. My dad's occupation is farming. In my dad whole life he only works in farms. He grows sugar cane, fuits, grains in our farm.</p>

<% include partials/footer.ejs %>
