<% include partials/header.ejs %>

<p><h3> Welcome to <b><%= title %></b> </h3> </p>
<p> <h4> This is little bit information about me and my family members...</h4></p>

<% include partials/footer.ejs %>