<% include partials/header.ejs %>
<h1><%= title %></h1>
 <p>I am mahesh Chavan. I love computer programming. my favourite programming language is JAVA.
   Currantly i am enrolled in computer programmer co-op program in Georgian College.
   I did complete my diploma in Information technology back in india.
   I have some programming work experiance.
   I worked as programmer and Illustrator for my 4 month co-op in miGuy Digital..</p>

<% include partials/footer.ejs %>