<% include partials/header.ejs %>

<h1><%= title %></h1>
<p> Vishnu is my brother. He lives with my parents in india.
  He is now studying in highschool.
  He likes Bike Riding.
  He help my mom dad in farming.</p>

<% include partials/footer.ejs %>
